<html lang="en">
<head>

	<meta charset="utf-8">
  <title>NoSql_App</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="mailbox">
    <header>
			<form method="post" action="/formresults">
	      <h3>
	        Mail box
						<input type="text" name="search_sender" placeholder="Search sender">
						<input type="text" name="search_recipients" placeholder="Search recipients">
						<input type="text" name="search_subject" placeholder="Search subject">
						<button> Search </button>
	      </h3>
			</form>
  </header>

</body>
</head>
</html>
