<html lang="en-US">
<head>

	<meta charset="utf-8">
  <title>NoSql_App</title>
	<link rel="stylesheet" href="style2.css">
</head>
<body>
  <div id="mailbox">
    <header>
      <h3> Mail box
				<button onclick="location.href='http://localhost:3000/form'"> Form </button>
			</h3>
  </header>

		<ul>

			<li class="clearfix">
				<span class="entypo-inbox"></span>
				<a href="http://localhost:3000/inbox">Inbox</a>

			</li>

			<li class="clearfix">
				<span class="entypo-clipboard"></span>
				<a href="http://localhost:3000/_sent">Drafts</a>

			</li>

			<li class="clearfix">
				<span class="entypo-paper-plane"></span>
				<a href="http://localhost:3000/sent_items">Sent</a>

			</li>

			<li class="clearfix">
				<span class="entypo-flag"></span>
				<a href="http://localhost:3000/business">Flagged</a>

			</li>

			<li class="clearfix">
				<span class="entypo-trash"></span>
				<a href='http://localhost:3000/deleted_items'>Deleted</a>
			</li>

		</ul>

	</div> <!-- end mailbox -->

</body>
</html>
