<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> MAILBOX </title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <h1 style="text-align:center;"> Mailbox </h1>

  <table>
    <tr>
      <th> Folder </th>
      <th style="width:30%"> Mails </th>

      <th style="width:100%"> Results </th>
    </tr>
    <tr><td><button type="button" style="width:100%" value="inbox" onclick="location.href='http://localhost:3000/inbox'">inbox</button></td>
      <td >resultat</td>
      <td>LE MAIL</td>
    </tr>
    <tr><td><button type="button" style="width:100%" value="notes_inbox">notes_inbox</button></td></tr>
    <tr><td><button type="button" style="width:100%">sent</button></td></tr>
    <tr><td><button type="button" style="width:100%">_sent</button></td></tr>
    <tr><td><button type="button" style="width:100%">sent_items</button></td></tr>
    <tr><td><button type="button" style="width:100%">all_documents</button></td></tr>
    <tr><td><button type="button" style="width:100%">business</button></td></tr>
    <tr><td><button type="button" style="width:100%">calendar</button></td></tr>
    <tr><td><button type="button" style="width:100%">compaq</button></td></tr>
    <tr><td><button type="button" style="width:100%">deleted_items</button></td></tr>
    <tr><td><button type="button" style="width:100%">discussion_threads</button></td></tr>
    <tr><td><button type="button" style="width:100%">elizabeth</button></td></tr>
    <tr><td><button type="button" style="width:100%">enron</button></td></tr>
    <tr><td><button type="button" style="width:100%">family</button></td></tr>
    <tr><td><button type="button" style="width:100%">sec_panel</button></td></tr>
  </table>


</body>
</html>
