@charset "utf-8";
/* CSS Document */

/* ---------- ENTYPO ---------- */
/* ---------- http://www.entypo.com/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background-color: #32bba9;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

a { text-decoration: none; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- Mailbox ---------- */

.count {
	background-color: #3090bd;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color: #ecf0f1;
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
	min-width: 12px;
	margin-top: 8px;
	padding: 0 6px;
	text-align: center;
}

#mailbox {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 50px auto;
	width: 700px;
}

#mailbox header {
	background-color: #4f4245;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #ecf0f1;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#mailbox ul {
	background-color: #ecf0f1;
}

#mailbox ul li {
	border-bottom: 1px solid #a6a8a9;
	color: #776b6c;
  height: 50px;
	line-height: 50px;
	padding: 0 24px;
}

#mailbox ul li:hover {
	background-color: #56a3c7;
	color: #ecf0f1;
}

#mailbox ul li:hover a {
	color: #ecf0f1;
}

#mailbox ul li span[class*="entypo"] {
	display: inline-block;
	padding-right: 18px;
	width: 16px;
}

#mailbox ul li a {
	color: #3e4146;
}

#mailbox ul li span[class*="count"] {
	float: right;
}
